---
export interface Props {
  title: string;
  createdAt: string;
  description: string;
  durationReadInMins: number;
  imageURL: string;
}

const { title, createdAt, description, durationReadInMins, imageURL } =
  Astro.props;
const date = new Intl.DateTimeFormat("en-PH", {
  dateStyle: "medium",
}).format(new Date(createdAt));
const titleSlug = title
  .replace(/\(|\)/g, "")
  .toLowerCase()
  .split(" ")
  .join("-");
---

<a href={"/blog/" + titleSlug}>
  <article class="flex md:flex-row flex-col gap-4 max-w-2xl">
    <img
      src={imageURL}
      alt={"main blog image" + title}
      class="md:h-auto md:w-32 w-full h-auto rounded-md"
    />
    <div>
      <h3>{title}</h3>
      <div>
        {date} | {durationReadInMins} mins read
      </div>
      <p
        class="text-light-content-secondary dark:text-dark-content-secondary text-xs"
      >
        {description}
      </p>
    </div>
  </article>
</a>
