---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
export interface Props {
  data: CollectionEntry<"blog">["data"];
  slug: CollectionEntry<"blog">["slug"];
}

const {
  data: { title, createdAt, description, durationReadInMins, imageURL },
  slug,
} = Astro.props;
const date = new Intl.DateTimeFormat("en-PH", {
  dateStyle: "medium",
}).format(new Date(createdAt));
---

<a href={"/blog/" + slug}>
  <article class="flex md:flex-row flex-col gap-4 max-w-2xl">
    <Image
      src={imageURL}
      alt={"main blog image" + title}
      width={200}
      height={400}
      class="rounded-md"
    />
    <div>
      <h3>{title}</h3>
      <div>
        {date} | {durationReadInMins} mins read
      </div>
      <p
        class="text-light-content-secondary dark:text-dark-content-secondary text-xs"
      >
        {description}
      </p>
    </div>
  </article>
</a>
