---
export interface Props {
  frontmatter: {
    title: string;
    createdAt: string;
    description: string;
    durationReadInMins: number;
    imageURL: string;
  };
}
const { frontmatter } = Astro.props;
import GenerateOgTag from "@components/GenerateOgTag.astro";
import Navbar from "@components/Navbar.svelte";
import PreloadCustomFont from "@components/PreloadCustomFont.astro";
import SetTheme from "@components/SetTheme.astro";
import "../styles/globals.css";
---

<html lang="en">
  <head>
    <title>{frontmatter.title} | Ken Ramiscal</title>
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SetTheme />
    <GenerateOgTag
      title={frontmatter.title}
      description={frontmatter.description}
      durationReadInMins={frontmatter.durationReadInMins}
      imageURL={frontmatter.imageURL}
    />
    <link rel="shortcut icon" href="/Icon.png" type="image/x-icon" />
    <PreloadCustomFont src="/Inter.var.woff2" type="woff2" />
  </head>
  <body>
    <Navbar client:load />
    <main class="mt-20">
      <h1 class="text-center font-extrabold">{frontmatter.title}</h1>
      <div
        class="text-center text-light-content-secondary dark:text-dark-content-secondary text-[14px]"
      >
        {frontmatter.createdAt} • {
          frontmatter.durationReadInMins + " mins read"
        }
      </div>
      <div
        style={typeof frontmatter.imageURL === "string"
          ? "background-image:url('" + frontmatter.imageURL + "')"
          : ""}
        class="max-w-3xl aspect-[2/1] bg-cover mx-auto my-4 rounded-xl"
      >
      </div>
      <!-- <img src={frontmatter.imageURL} alt="main blog image" class="max-w-" /> -->
      <article class="markdown max-w-3xl m-auto">
        <hr />
        <slot />
      </article>
    </main>
  </body>
</html>
